.mt1em {
   margin-top: 1em;
}

.mt2em {
   margin-top: 2em;
}

.flex-row {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.flex-space-between {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between
}

button:hover {
   opacity: .7;
}

.border-input-error {
   border-color: red !important;
}



.x-spreadsheet-toolbar {
   width: 1295px !important;
   background: #f4f5ed !important;
}

.x-spreadsheet-bottombar {
   background: #f4f5ed !important;
}

.fortune-toolbar {
   background: #eaeaea !important;
}

.jmodal_content::-webkit-scrollbar {
   height: 10px;
}

.jmodal_content::-webkit-scrollbar {
   width: 12px;
}

.jmodal_content::-webkit-scrollbar-track {
   border: 1px solid #fff;
   background: #eee;
}

.jmodal_content::-webkit-scrollbar-thumb {
   border: 1px solid #fff;
   background: #888;
}

.btn-group-xls {
   margin-top: 2em;
   display: flex;
   align-items: center;
   justify-content: end;
   column-gap: 15px;
}

.control {
   max-width: "300px",
}

.form-wrapper {
   padding: 1.5em 2em;
   background-color: #f5f5f5;
   margin: 2em 0;
   border: 1px solid #ddd;
   box-shadow: 0 1px 5px 0 #0000001f;
}

.jexcel>thead>tr>td {
   background-color: #f5fad5;
   height: 30px;
   font-weight: 600;
}

.f1ksivud::after {
   background-color: #7ebf56 !important;
}

.status-element {
   margin-left: 1em;
   border: 1px solid #ddd;
   padding: 2px 10px;
   min-width: 400px;
   text-align: center;
}

.status-validated {
   background-color: green;
   color: #f4f5ed;
}

.status-invalidated {
   background-color: red;
   color: #fff;
}

/* css view data hauling balqis */
.data-value{
   text-align: center;
   font-size: large;
   font-weight: bold;
}
