/* LoginUser.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url(../../assets/bglogin.png);
    background-size: cover;
  }
  
  .login-container .euiCard {
    max-width: 400px; /* Atur lebar maksimum kartu */
    padding: 20px;
  }
  .btn-primary{
    background:rgb(65, 190, 90);
  }