* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

 .container {
    min-height: calc(92vh);
    padding: 16px 32px;
    max-width: 1365px;
 }

 .x-spreadsheet-toolbar{
    width: 1295px !important;
    background: #f4f5ed !important;
 }
 .x-spreadsheet-bottombar{
    background: #f4f5ed !important;
 }

 .fortune-toolbar{
    background: #eaeaea!important;
 }
 .btn-group-xls{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 15px; 
 }